{# /fcc/templates/check/index-dpa.html #}

{% extends 'layout.html' %}
{% from 'macros/cards.html' import dpa_Card %}


{% block content %}
<div class="index">
    <h1>DPA (Deutsche Presse-Agentur)</h1>

    <img class="org-logo" src="https://ifcncodeofprinciples.poynter.org/storage/logos/dpa-deutsche-presse-agentur-gmbh_logo.png" alt="DPA logo">

    <p>Country: {{ organization.country }}
    <br>
    Website: <a href="{{ organization.site_url }}">{{ organization.site_url|strip_http }}</a>
    </p>
    
    <h2 style="clear: right">Latest Fact-Checks</h2>
    
    <div class="check-card-grid">
        {% for c in checks %}
            {{ dpa_Card(c) }}
        {% endfor %}
    </div>
</div>
{% endblock %}