<nav class="jbr-container navbar navbar-expand-sm navbar-dark xbg-dark mb-4 py-2">
    <a class="navbar-brand" href="/">Fact Check Central</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#i-am-the-actual-menu" aria-controls="i-am-the-actual-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="i-am-the-actual-menu">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Checks
                </a>
        
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/checks/dpa">Deutsche Presse-Agentur</a></li>
                    <li><a class="dropdown-item" href="/checks/newtral">Newtral</a></li>
                    <li><a class="dropdown-item" href="/checks/politifact">PolitiFact</a></li>
                    <li><a class="dropdown-item" href="/checks/snopes">Snopes</a></li>
                    <li><a class="dropdown-item" href="/checks/surligneurs">Les Surligneurs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
