<nav class="jbr-container navbar navbar-expand-sm navbar-light py-3">
    <span class="navbar-brand">Fact-Check Central</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#i-am-the-actual-menu" aria-controls="i-am-the-actual-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="i-am-the-actual-menu">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
    </div>
</nav>
