/* /fcc/static/fcc.css */

/*****
 * Global
 *****/

 * {
    box-sizing: border-box;
 }

.index .bi.bi-box-arrow-up-right {
    position: relative;
    bottom: 2px;
}

/*****
 * Layout
 *****/

 /* mobile first */
.jbr-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

@media screen and (min-width: 1200px) {
    .jbr-container {
        width: 1180px;
    }
}

header {
    background-color: #D2E3C8; /* light */
}

nav {
    padding: 0 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 2em;
    padding: 1em;
    text-align: center;

    background-color: #4F6F52;  /* dark */
    color: #eee;
}

@media screen and (min-width: 700px) {
    footer {
        flex-direction: row;
    }
}

footer a {
    color: #eee;
}

/*****
 * Check Card Grid
 *****/

 /* mobile first */
.check-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 14em;
    gap: 10px;
}

/* tablet+ */
@media screen and (min-width: 700px) {
    .check-card-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 18em;
    }
}

/* laptop+ */
@media screen and (min-width: 1000px) {
    .check-card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.check-card-grid > a  {
    text-decoration: none;
    color: black;
}

/* mobile: only show first 3 cards */
.check-card-grid > a:nth-child(n + 4) {
    display: none;
}

/* tablet+: show all cards */
@media screen and (min-width: 700px) {
    .check-card-grid > a:nth-child(n + 4) {
        display: inline;
    }
}

/*****
 * Check Card
 *****/

.CheckCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    background-color: #f4f4f4;
}

.CheckCard:hover {
    background-color: #eee;
}

.CheckCard .scrollable {
    overflow-y: auto; 
}

.CheckCard .stmt {
    font-size: 110%;
    font-weight: bold;
    margin-top: 5px;
}

.CheckCard .author {
    position: relative;
    margin-left: 2em;
}

.CheckCard .author-title {
    font-size: .9em;
}

.CheckCard .author span {
    position: absolute;
    left: -1.5em;
}

.CheckCard .summary {
    margin-top: 5px;
}

.CheckCard .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.CheckCard .bottom .bi-hand-index::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    margin-right: 5px;
    transform: rotate(90deg);
}