{# /fcc/templates/macros/rating.html #}

{# I'm not using this anymore! #}

{%
    set Newtral_icon = {
        'Engañoso': 'bi-question',
        'Falso': 'bi-x',
        'Verdadero': 'bi-check'
    }
%}
{%
    set PolitiFact_text = {
        'barely-true': 'Barely True',
        'false': 'False',
        'half-true': 'Half True',
        'mostly-true': 'Mostly True',
        'pants-fire': 'Pants on Fire!',
        'true': 'True'
    }
%}


{% macro make_rating(org_name, rating) %}
    {% if org_name == 'Newtral' %}
        <span class="icon">
            <i class="bi {{ Newtral_icon[rating] }} {{ rating|to_css_class }}"></i>
        </span>
        <span class="text">{{ rating }}</span>
    {% elif org_name == 'PolitiFact' %}
        Rating: 
        <span class="rating {{ rating|to_css_class }}">{{ PolitiFact_text[rating] }}</span> 
    {% endif %}
{% endmacro %}