{% extends 'layout.html' %}


{% block css %}
.about {
    line-height: 1.75em;
}

header {
    margin-bottom: 3em;
}

h2 {
    margin-top: 1em;
    border-bottom: 4px solid #D2E3C8; /* light */
}

a {
    color: #4F6F52;  /* dark */
}

@media screen and (min-width: 1000px) {
    .two-col {
        columns: 2;
        column-gap: 50px;
    }
}
{% endblock %}


{% block title %}About{% endblock %}


{% block content %}
<div class="about">
    <h2>This Website</h2>

    <div class="two-col">
        <p>
            This website, informally called Fact-Check Central (FCC), regularly retrieves 
            information from a selection of fact-checking websites.
            The contents of FCC are automatically updated several times a week.
            Clicking on an entry will take you to the corresponding page
            on the originating fact-checking site.
        </p>
        <p>
            The format in which statements and their 
            "<a href="https://www.wordnik.com/words/truthiness">truthiness</a>" 
            ratings are published varies
            between fact-checking websites. Some sites will publish the original statement, the source, and the
            fact-checker's conclusion from a strict number of options, such as:
            true, false or misleading. Other websites take a less structured approach.
            The different formats of the entries displayed on FCC reflects that diversity in formats.
        </p>
    </div>


    <h2>The IFCN</h2>
    <div class="two-col">
        <p>
            The 
            <a href="https://ifcncodeofprinciples.poynter.org">International Fact-Checking Network (IFCN)</a> is a creation of the
            <a href="https://www.poynter.org">Poynter Institute</a>.
            The IFCN has developed a code of principles
            "...for organizations that regularly publish nonpartisan reports on the accuracy of statements by public figures, major institutions, and other widely circulated claims of interest to society."
        </p>
        <p>
            Signatories to the IFCN code of principles agree to abide by the code, and 
            submit to an annual independent assessment to retain their signatory status.
            Organizations that appear on FCC were chosen from the IFCN
            <a href="https://ifcncodeofprinciples.poynter.org/signatories">list of signatories</a>.
        </p>
    </div>

    <h2>Technologies Used</h2>
    <div class="two-col">
        <p>
            The fact-checking websites featured here are regularly visited and checked 
            for new entries, using a technique called 
            <a href="https://en.wikipedia.org/wiki/Web_scraping"><em>web scraping</em></a>.
        </p>
        <p>
            Before scraping a web page, a human must analyze the page's structure (HTML)
            to determine how to describe (in a computer program) the parts of the page 
            that are of interest.
            Next, a small program is written to "scrape" (i.e. retrieve) 
            those parts of the web page.
        </p>
        <p>
            Once the scraping program "knows" which parts of the web page we're interested in,
            it can be executed to retrieve those parts.
            Checking a website for new content merely requires executing the program
            on a regular basis, and checking to see if any of the interesting parts
            have changed.
        </p>
        <p>
            The following technologies were used to develop Fact-Check Central:
        </p>
        <ul>
            <li><a href="https://flask.palletsprojects.com">Flask</a></li>
            <li><a href="https://www.sqlalchemy.org">SQLAlchemy</a></li>
            <li><a href="https://www.postgresql.org">PostgreSQL</a></li>
            <li><a href="https://playwright.dev/python/">Playwright</a></li>
        </ul>
    </div>
</div>
{% endblock %}