{# /fcc/templates/page/home.html #}

{% extends 'layout-home.html' %}
{% import 'macros/cards.html' as card_macros %}

{%
    set org_logos = {
        'dpa': 'https://ifcncodeofprinciples.poynter.org/storage/logos/dpa-deutsche-presse-agentur-gmbh_logo.png',
        'newtral': 'https://ifcncodeofprinciples.poynter.org/storage/logos/newtral_logo.png',
        'politifact': 'https://ifcncodeofprinciples.poynter.org/storage/logos/politifact_logo.png',
        'snopes': 'https://ifcncodeofprinciples.poynter.org/storage/logos/snopescom_logo.png',
        'surligneurs': 'https://ifcncodeofprinciples.poynter.org/storage/logos/les-surligneurs_logo.png'
    }
%}


{% block css %}
h2 {
    margin-top: 2em;
    padding: 10px;

    background-color: #D2E3C8; /* light */
    color: #333;
}

.org-block {
    margin: 2em 0;
}

.org-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.org-info img {
    height: 100px;
    width: auto;
}

@media screen and (min-width: 700px) {
    .org-info img {
        height: 150px;
    }
}

#jumbo {
    background-color: #4F6F52;  /* dark */
    color: #eee;
    font-family: 'EB Garamond', serif;
}

#jumbo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    margin-bottom: 30px;
    padding: 50px 20px;
}

@media screen and (min-width: 700px) {
    #jumbo-grid {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

#spruch {
    font-weight: 600;
    font-size: 4em;
    line-height: .9em;
}

#smalltext {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.6em;
}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="jumbo">
    <div id="jumbo-grid" class="jbr-container">
        <span id="spruch">Facts Matter</span>

        <span id="smalltext">
            Democracies work best when their citizens are well informed.
            Organizations like the ones below investigate statements and rumors,
            check the facts, and publish their findings.
        </span>
    </div>
</div>

<div class="jbr-container">
    {% for org in orgs %}
    <div class="org-block">
        <h2>{{ org.name }}</h2>
        <div class="org-info">
            <div>
                <div>Country: {{ org.country }}</div>
                Website: <a href="{{ org.site_url }}">{{ org.site_url|strip_http }}</a>
            </div>

            <img src="{{ org_logos[org.slug] }}" alt="{{ org.name }} logo">
        </div>

        <div class="check-card-grid">
            {% set macro_name = org.slug ~ '_Card' %}
            {% for card in cards[org.slug] %}
                {{ card_macros[macro_name](card) }}
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}